@charset "utf-8";

/**
 * Style variables
 */
$base-font-family:  monospace !default;
$base-font-size: 1rem !default;
$mobile-font-size: .9rem !default;
$base-line-height: 1.6 !default;
$container-width: 90% !default;
$container-max-width: 1024px !default;

:root {
    --link-color: green;
    --text-color: #333333;
    --header-color: #000000;
    --code-color-1: #aaaaaa;
    --code-color-2: #ffffcc;
    --code-color-3: #F00000;
    --code-color-4: #F0A0A0;
    --code-color-5: #b38aff;
    --code-color-6: #5ba711;
    --code-color-7: #e4e477;
    --code-color-8: #000080;
    --code-color-9: #05ca05;
    --code-color-10: #888888;
    --code-color-11: #555555;
    --code-color-12: #800080;
    --code-color-13: #00d4d4;
    --code-color-14: #00c1c1;
    --code-color-15: #ed9d13;
    --code-color-16: #1e90ff;
    --code-color-17: #800000;
    --code-color-18: #bbbbbb;
}

/**
 * Global
 */
body {
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: var(--text-color);
    text-align: left;
    line-height: $base-line-height !important;
}

main {
    padding: 0 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: $base-font-size;
    margin: 0px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: var(--header-color);
}

h1 {
    &:before {
        content: "# ";
    }
}

h2 {
    &:before {
        content: "## ";
    }
}

h3 {
    &:before {
        content: "### ";
    }
}

h4 {
    &:before {
        content: "#### ";
    }
}

h5 {
    &:before {
        content: "##### ";
    }
}

h6 {
    &:before {
        content: "###### ";
    }
}

blockquote {
    font-style: italic;
    border-left: 1rem solid var(--text-color);
    margin-left: 0;
    padding-left: 1rem;
}

p,
ul,
ol {
    margin: 0;
    color: var(--text-color);
}

a {
    text-decoration: underline;
    color: var(--link-color);
}

a:hover {
    color: var(--background-color);
    background-color: var(--link-color);
    padding: .3rem;
}

@media only screen and (max-device-width: 500px) {
    * {
        font-size: $mobile-font-size !important;
    }

    main.index {
        padding: 0;

        table {
            td {
                text-align: left;
            }
        }
    }
}

hr {
    border: none;
    border-top: var(--border);
    margin: 1rem 0;
}

iframe {
    display: block;
    margin: 3rem auto;
}

header {
    ul {
        list-style: none;

        li {
            display: inline-block;
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }

            &.float-right {
                float: right;
            }
        }
    }
}

/**
 * Layout
 */
.container {
    width: $container-width;
    max-width: $container-max-width;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
}

p {
    margin-bottom: 1rem;
}

footer {
    color: var(--text-color);
    margin: 1rem auto;
}

/**
 * Lists
 */
ul {
    list-style: none;
    padding-left: 0;
    list-style-type: '- ';
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    list-style-position: outside;
}

@import "code.scss"