<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="container">

      {%- include header.html -%}

    {% if page.name != "index.markdown" %}
      <main>
        <p>
          <h1>{{ page.title }}</h1>
          {% if page.author %}
            By {{ page.author }}
          {% endif %}
        </p>
    {% else %}
      <main class='index'>
    {% endif %}

      {{ content }}
    </main>

    {%- include footer.html -%}

    </div>
  </body>
</html>
